// ======================================
//  Buttons
// ======================================

.btn--default,
.btn--success,
.btn--error,
.btn--warning,
.btn--info {
  width: 100%;
  padding: 1em;
  margin: .5em 0;
  text-transform: uppercase;
  border-radius: 6px;
  color: $white;
  &:focus {
    outline-width: 0;
    opacity: .8;
  }
  @media (min-width: map-get($breakpoints, 'med')) {
    flex: 0 1 15%;
  }
}

@each $theme, $color in $btn-themes {
  .btn--#{$theme} {
    background-color: $color;
  }
}
