// ======================================
//  Forms
// ======================================

.form {
  padding: 0 .5em;
}

.form__label--hidden {
  display: none;
}

.form__input {
  display: block;
  width: calc(100% - 1em);
  border: none;
  border-bottom: 6px solid $color-primary;
  margin: 1.5em .5em;
  padding: .5em;
}
