// ======================================
//  Grid Layout
// ======================================

.container {
  padding: 2em;
  display: flex;
  flex-direction: column;
  @media (min-width: map-get($breakpoints, 'sm')) {
    width: 90%;
    margin: 0 auto;
  }
  @media (min-width: map-get($breakpoints, 'med')) {
    width: 80%;
  }
  @media (min-width: map-get($breakpoints, 'lg')) {
    width: 70%;
  }
}

.grid__row {
  margin: 1em 0;
  // @include debug;
}

.grid__row:first-child {
  margin-top: 0;
}

.grid__row:last-child {
  margin-bottom: 0;
}

.card {
  padding: 0 1em;
}

@each $theme, $color in $grid-themes {
  .grid__col--#{$theme} {
    &.theme__colors {
      background-color: $color;
      padding: 1em;
      border-radius: 6px;
      margin: .5em 0;
    }
    @media (min-width: map-get($breakpoints, 'med')) {
      display: flex;
    }
  }
}
