// ======================================
//  Images
// ======================================

.img--logo,
.img--avatar {
  padding: 1em 0;
}

.img--logo,
.img--avatar {
  display: block;
  margin: 1em auto;
}

.img--frame {
  width: 100%;
  border: 1px solid $color-text-light;
  padding: 1em;
}
