// ======================================
//  Navigation
// ======================================

.nav {
  list-style: none;
  padding: 0;
  margin: 2em 0;
}

.nav__item {
  text-align: center;
  margin: .5em 0;
  a {
    color: $color-text-dark;
    text-decoration: none;
    display: block;
    border-radius: 4px;
    padding: 1em;
    &:hover {
      background-color: $color-primary;
      color: $white;
    }
  }
}
