// ======================================
//  Base
// ======================================

* {
  box-sizing: border-box;
  font-family: $font-stack;
  border: none;
  background-color: $white;
  color: $color-text;
}

ul {
  list-style: none;
  padding-left: 0;
}

p {
  line-height: 1.5;
}
