// ======================================
//  Base
// ======================================

* {
  box-sizing: border-box;
  font-family: $font-stack;
}

ul {
  list-style: none;
}

p {
  line-height: 1.5;
}
